$main-violet-color: #A65CF0;
$main-orange-color: #FF862F;
$main-text-color: #333333;
$second-text-color: #999999;
$gray-text-color: #666666;
$white-color-text: #fff;
$margin-bottom-section: 70px;
$back-color:#F6F6F6;
$second-violet-color:#C998FB;
$active-violet-color:#7033AC;
