@import '_varialables.scss';
@import '_mixin.scss';

// media 1200px

@media (max-width:1200px) {
  .header {

    &__main {
      padding-top: 17px;
    }

    &__search {
      max-width: 77%;

    }

    &__user {
      display: none;
    }

    &__list {
      gap: clamp(30px, 4vw, 41px);
    }
  }

  .contacts {
    background-color: #fff;


    &__wrap {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      gap: 25px;
    }

    &__tel {
      padding: 0 40px;
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $back-color;
      padding: 10px 36px;
    }

    &__user {
      display: flex;
      gap: 32px;
    }

    &__user svg {
      display: block;
    }
  }

}


// media 1000px

@media (max-width:1000px) {
  .header {

    &__case {
      flex-wrap: wrap;
      gap: 32px;
    }

    &__nav {
      order: 3;
      flex-grow: 1;
      display: flex;
    }

    &__user-mobile {
      display: flex;
      order: 2;
    }

    &__list {
      flex-grow: 1;
      justify-content: space-between;
    }

    &__search {
      max-width: 100%;
    }

    &__link {
      font-size: 14px;
    }
  }

  .contacts {

    &__nav {
      padding: 14px 68px;
    }

    &__tel {
      padding: 0 68px;
    }

    &__user {
      display: none;
    }

    &__list {
      flex-grow: 1;
      justify-content: space-between;
      gap: 30px;
    }
  }

  // footer
  .footer {

    &__wrap {
      flex-direction: column;
      gap: 20px;
    }

    &__icon {
      justify-content: space-between;
      max-width: 100%;
    }

    &__nav {
      justify-content: space-between;
      gap: clamp(32px, 5vw, 92px);
    }
  }

}

// 760px
@media (max-width:760px) {

  // header
  .header {

    &__case svg:nth-child(2) {
      display: none;
    }

    &__user svg:nth-child(2) {
      display: block;
    }

    &__tel {
      display: flex;
      color: #FF862F;
      font-weight: 400;
      font-size: 14px;
      align-items: center;
    }

    &__nav {
      overflow-x: scroll;
      max-width: 100%;
    }
  }

  .contacts {
    background-color: #F6F6F6;

    &__wrap {
      padding-left: clamp(12px, 4vw, 68px);
      padding-right: clamp(12px, 4vw, 68px);
      align-items: center;
    }

    .contacts__wrap svg:nth-child(2) {
      display: block;
    }

    &__wrap svg {
      display: block;
    }

    &__tel {
      display: none;
    }

    &__nav {
      display: none;
    }
  }

  // footer
  .footer {

    &__wrap {
      align-items: center;
    }

    &__nav {
      flex-wrap: wrap;
    }

    &__icon {
      align-items: center;
      flex-direction: column;
    }
  }

}

// 570px
@media (max-width:570px) {

  // header
  .header {
    &__case {
      margin-bottom: 20px;
    }
  }
}


