@import '_mixin.scss';
@import '_varialables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  min-width: 320px;
  background-color: #fff;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin: 0;
}

a,
button,
input,
textarea {
  transition: all 0.3s ease-out;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline-color: transparent;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
}

@font-face {
  font-family: "Playfair-Display";
  src: local("Playfair-DisplayBold.woff"),
    url("../fonts/PlayfairDisplayBold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplayBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: local("OpenSans-Bold.woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open-Sans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container {
  @include container
}

// header

.contacts {
  background-color: $back-color;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    @include container;
  }

  &__left svg:nth-child(2) {
    display: none;
  }

  &__tel {
    display: inline-flex;
    align-items: center;
    color: $main-orange-color;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      color: #FFBD59;

      & svg path {
        fill: #FFBD59;
      }
    }

    &:focus-visible {
      color: #FF862F;
      background-color: #FFF5D1;

      & svg path {
        fill: #FF862F;
      }
    }

    &:active {
      color: #BB370E;

      & svg path {
        fill: #BB370E;
      }
    }
  }

  &__list {
    display: flex;
    gap: 64px;
  }

  &__link {
    @include navItemGrayStyle;
    white-space: nowrap;
  }

  &__user {
    display: none;
    @include stateSvg;

  }

}

.header {

  &__main {
    padding: 32px 0;
  }

  &__case {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
  }

  &__list {
    display: flex;
    gap: clamp(41px, 4.8vw, 92px);
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__wrap-input {
    position: relative;
    height: 100%;
    flex-basis: 1061px;
  }

  &__input {
    background-color: $back-color;
    border-radius: 10px;
    color: $main-text-color;
    height: 100%;
    outline: 0;
    padding-right: 70px;
    padding-left: 59px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;

    @include stateInput;
  }

  &__wrap-input svg {
    position: absolute;
    top: 20px;
    left: 32px;
    z-index: 1000;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 14px;

    @include stateBtnSvg;
  }

  &__btn svg {
    position: initial;
    top: 0;
    left: 0;
  }

  &__user {
    display: flex;
    gap: 32px;
    @include stateSvg;
  }

  &__user-mobile {
    display: none;
    @include stateSvg;
  }

  &__tel {
    display: none;
  }

  &__link {
    @include navItemStyle;
    white-space: nowrap;
  }
}


// footer

.footer {

  &__icon {
    max-width: 190px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  &__content {
    background-color: #EAEAEA;
  }

  &__wrap {
    padding: 24px 0;
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    gap: clamp(92px, 8vw, 130px);
  }

  &__sdp {
    @include container;
    display: flex;
    justify-content: center;
  }

  &__descr {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #999;
    padding: 5px;
  }
}

.nav {

  &__title {
    display: block;
    @include navItemStyle;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    @include navItemGrayStyle;
    white-space: nowrap;
  }

}

.icon__wrap {
  display: flex;
  gap: 20px;
}
